@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-dotted-border {
  border: 0;
  border-bottom: 2px dotted transparent;
  background: linear-gradient(to right, black 50%, transparent 0%);
  background-size: 10px 3px; /* Adjust the size to change the spacing */
  background-repeat: repeat-x;
}
